/*scroll*/
#search{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #f10214;
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    display: none;
    /*transition: top 2s;*/
    }
.search-fix .search-m {
    margin: auto;
    width: 1190px;
    height: 48px;
}
.search-m {
    position: relative;
    z-index: 1;
    height: 60px;
}
.search-fix .search-m .search_logo {
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
}
.search-fix .search-m .search_logo_lk {
    background-position: -195px 0;
    overflow: hidden;
    display: block;
    width: 125px;
    height: 40px;
    background-image: url(../images/sprite.head.png);
    text-indent: -999px;
}
.search-fix .search-m #shelper {
    top: 40px;
}
.root61 #shelper {
    left: 320px;
    width: 498px;
}
#shelper {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    left: 270px;
    top: 59px;
    width: 398px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 1px rgba(0,0,0,.2);
    -moz-box-shadow: 1px 2px 1px rgba(0,0,0,.2);
    box-shadow: 1px 2px 1px rgba(0,0,0,.2);
}
.search-fix .search-m .form {
    top: 6px;
}
.search-m .form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
}
.search-fix .search-m .text {
    border-color: #efefef;
    background-color: #efefef;
}
.search-m .text {
    left: 0;
    padding: 4px 44px 4px 4px;
    width: 450px;
    height: 25px;
    border: 1px solid transparent;
    line-height: 25px;
    font-size: 14px;
    color: #989898;
}
.photo-search-btn {
    position: absolute;
    right: 65px;
    top: 10px;
    width: 19px;
    height: 15px;
    overflow: hidden;
}
.search-m .button {
    -moz-border-radius: 0;
    border-radius: 0;
    right: 0;
    width: 50px;
    height: 35px;
    line-height: 35px;
    border: none;
    background-color: #f10215;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.search-m .button, .search-m .text {
    position: absolute;
    top: 0;
    outline: none;
}
#header-top-wrap-two{
    width: 780px;
    height: 35px;
    /*background: #f0f;*/
    margin-left: 300px;
    position: absolute;
    bottom: 8px;
}
#header-top-wrap-two #search-aaa-two{
    width: 500px;
    height: 35px;
    border: none;
    float: left;
    outline:none;
    padding-left: 10px;
    position: relative;
    background: #EFEFEF;
}
#header-top-wrap-two>i{
    position: absolute;
    left: 480px;
    top: 3px;
    z-index: 1;
}
#header-top-wrap-two #button{
    width: 50px;
    height: 35px;
    border: none;
    float: left;
    outline:none;
    cursor: pointer;
    background: #F10215;
}

/*广告*/
#advertising_container{
    width: 100%;
    height: 80px;
    background: #0f0f0f;
    position: relative;
    z-index: 30;
}
#advertising_container #advertising{
    width:  1190px;
    height: 80px;
    background: url(../images/5aec1e30Nf752acfa.jpg);
    margin: 0 auto;
    position: relative;
}
.icon-cuowuguanbiquxiao-fangkuang{
    position: absolute;
    right: 8px;
    top: 2px;
}
/*导航栏与头部的容器*/
#navigation_header_wrap{
    width: 100%;
    height: 140px;
    position: relative;
}
/*导航栏*/
#navigation_bar_container{
    /*height: 30px;*/
    width: 100%;
    background: #e3e4e5;
    border-bottom: 1px solid #ddd;
    z-index: -1;
}
#navigation_bar{
    height: 30px;
    line-height:30px;
}
#navigation_bar ul{
    height: 30px;
}
#navigation_bar>ul:first-child{
    float: left;
    width: 258px;
}
#navigation_bar>ul:first-child>li{
    float: right;
    position: relative;
    width: 58px;
    height: 28px;
    left: -150px;
}
#navigation_bar>ul:first-child>li:hover {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    width: 56px;
    /*height: 26px;*/
    z-index: 999;
    padding-bottom: 5px;
/*    top: 0px;
    left: -1px;*/
}
#navigation_bar>ul:first-child>li>span>span{
    color: #666;
}
#navigation_bar>ul:first-child>li:hover div{
    z-index: -1;
    border-top: 0;
    left: -1px;
    top: 31px;
    /*display: block;*/
}
#navigation_bar>ul:first-child>li>div{
    width: 300px;
    height: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 1px 2px 1px rgba(0,0,0,.1);
    position: absolute;
    /*left: 0px;*/
    /*top: 31px;*/
    display: none;
}
#navigation_bar>ul:first-child>li>div ul{

}
#navigation_bar>ul:first-child>li>div ul li{
    float: left;
    /*padding: 0 15px;*/
    width: 50px;
    margin-left: 7px;
}
#navigation_bar>ul:first-child>li>div ul li a{
    padding: 5px 7px;
    color: #999999;
}
#navigation_bar>ul:first-child>li>div ul li #bj-hs{
    color: #fff;
    background: #F10215;
}
#navigation_bar>ul:first-child>li>div ul li a:hover{
    color: #e33333;
    background: #f4f4f4;
}
#dotted{
    width: 262px;
    height: 0;
    border-bottom: dotted 1px #eee;
    margin: 0 auto;
}
#navigation_bar>ul:first-child>li>div>div:last-child{
    width: 280px;
    height: 95px;
    /*background: #f4f4f4;*/
    margin: 0 auto;
    color: #999999;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(1){
    width: 290px;
    height: 24px;
    float: left;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(2){
    width: 290px;
    height: 26px;
    float: left;
    margin-top: 8px;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(3){
    width: 290px;
    height: 26px;
    float: left;
    margin-left: 20px;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(2)>a,#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(3)>a{
    color: #999999;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(2)>a:first-child{
    float: left;
    margin-left: 20px;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(2)>a:last-child{
    float: right;
    margin-right: 50px;
}
#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(2)>a:hover,#navigation_bar>ul:first-child>li>div>div>p:nth-of-type(3)>a:hover{
    color: #e33333;
}
#navigation_bar>ul:last-child{
    width: 800px;
    float: right;
}
#navigation_bar>ul:last-child>li{
    float: left;
    padding: 0 5px;
    color: #666;
}
#navigation_bar>ul:last-child>li a{
    color: #666;
}
#navigation_bar>ul:last-child>li a:hover{
    color: #f10215;
}
#navigation_bar>ul:last-child>li span a{
    color: #f10215;
}
/*我的京东*/
#myjd{
    width: 60px;
    height: 30px;
    position: relative;
}
#myjd:hover{
    width: 58px;
    height: 31px;
    /*padding: 0 20px;*/
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    left: -1px;
    /*top: 0px;*/
}
#myjd-content{
    width: 280px;
    height: 162px;
    background: #fff;
    position: absolute;
    left: -1px;
    top: 31px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
    z-index: 3;
    /*float: left;*/
}
#myjd-content>p{
    /*float: left;*/
    width: 254px;
    height: 24px;
    margin-left: 20px;
    margin-top: 3px;
}
#myjd-content>p a{
    width: 125px;
    display: inline-block;
}
#myjd-content>#myjd-dotted{
    width: 100%;
    height: 0;
    margin-top: 10px;
    border-bottom: dotted 1px #eee;
}


/*客户服务*/
#khfw{
    width: 60px;
    height: 30px;
    position: relative;
}
#khfw:hover{
    width: 58px;
    height: 31px;
    /*padding: 0 20px;*/
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    left: -1px;
    /*top: 0px;*/
}
#khfw-content{
    width: 170px;
    height: 227px;
    padding: 10px 0;
    background: #fff;
    position: absolute;
    left: -103px;
    top: 31px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: none;
    z-index: 1;
    /*float: left;*/
}
#khfw-content #kh,#khfw-content #sh{
    font-weight: bold;
    color: #666;
}
#khfw-content>p{
    /*float: left;*/
    width: 170px;
    height: 24px;
    margin-left: 20px;
    /*margin-top: 3px;*/
}
#khfw-content>p a{
    width: 85px;
    display: inline-block;
}
#khfw-content>#myjd-dotted{
    width: 100%;
    height: 0;
    margin-top: 10px;
    border-bottom: dotted 1px #eee;
}

/*网站导航*/
#wzdh{
    width: 60px;
    height: 30px;
    position: relative;
}
#wzdh:hover{
    width: 58px;
    height: 31px;
    /*padding: 0 20px;*/
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /*border-top: 1px solid #ccc;*/
    left: -1px;
    /*top: 0px;*/
}
#wzdh:hover #wzdh-content{
    right: -1px;
}
#wzdh-content{
    width: 1189px;
    height: 149px;
    padding: 15px 0;
    background: #fff;
    position: absolute;
    right: -95px;
    top: 31px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    z-index: 3;
    display: none;
    /*float: left;*/
}
#wzdh-content>div{
    float: left;
    border-right: 1px solid #ccc;
}
#wzdh-content>div:last-child{
    border: none;
}
#wzdh-content div p{
    height: 24px;
    color: #999;
    margin-left: 10px;
}
#wzdh-content div p:first-child{
    color: #666;
    font-weight: bold;
}
#wzdh-content div p a{
    width: 85px;
    height: 24px;
    display: inline-block;

}
#wzdh-content>div:nth-of-type(1){
    width:360px;
    height: 149px;
    /*background: #ff0;*/
}

#wzdh-content>div:nth-of-type(2){
    width:275px;
    height: 149px;
    /*background: #0f0;*/
}
#wzdh-content>div:nth-of-type(3){
    width:275px;
    height: 149px;
    /*background: #0ff;*/
}
#wzdh-content>div:nth-of-type(4){
    width:275px;
    height: 124px;
    /*background: #f00;*/
}

/*手机京东*/
#sjjd{
    position: relative;
}
#sjjd div:first-child{
    margin: 4px auto;
    width: 60px;
    height: 60px;
    background: #f6f6f6;
    border: 1px solid #cfcfcf;
    background: url(../images/59a51bf6Nb8e478cc.png) no-repeat;
    background-size: 60px 60px;
    position: relative;
    top: -4px;
    /*z-index: 5;*/
}
#sjjd div:first-child:before{
    content: "";
    position: absolute;
    display: block;
    top: -9px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}
#sjjd img{
    position: absolute;
    right: 0px;
    top: 31px;
    z-index: 30;
    display: none;
}


/*头部开始*/
#header-wrap{
    width: 100%;
    background: #FFF;
}
#header{
    height: 100px;
}
#header-top{
    width: 1190px;
    height: 60px;
    /*background: #ff0;*/
    overflow:hidden;
    position: relative;
}
#header-jd-img{
    width: 270px;
    height: 60px;
    z-index: 30;
    margin-top: 10px;
    line-height: 60px;
}
#header-jd-img img{
     margin-top: 8px;
}
#header-jd-wz{
    width: 75px;
    height: 27px;
    background: #fff;
    border: 1px solid #E3E4E5;
    text-align: center;
    line-height: 27px;
    /*position: relative;*/
    margin-top: 20px;
}
#header-jd-wz span{
    color: #666;
    cursor: pointer;
    /*margin-left: -25px;*/
    display: inline-block;
    /*margin-top: 27px;*/
}

#header-top-wrap{
    width: 780px;
    height: 35px;
    /*background: #f0f;*/
    margin-left: 350px;
    position: absolute;
    bottom: 0px;
}
#header-top-wrap #search-aaa{
    width: 446px;
    height: 31px;
    border: none;
    float: left;
    outline:none;
    padding-left: 10px;
    position: relative;
    border-width: 2px 0 2px 2px;
    border-color: #B61D1D;
    border-style: solid;
}
#header-top-wrap>i{
    position: absolute;
    left: 480px;
    top: 3px;
    z-index: 1;
}
#header-top-wrap .button{
    width: 52px;
    height: 36px;
    /*padding: 0 8px;*/
    background: #B61D1D;
    /*border: none;*/
    border: none;
    float: left;
    outline:none;
    cursor: pointer;
    background: #F10215;
    font-size: 12px;
}
#header-top-wrap>button:nth-of-type(1){
    background: #B61D1D;
    color: #fff;
}
#header-top-wrap>button:nth-of-type(2){
    background: #474e5c;
    color: #fff;
}
#my_shopping_cart{
    width: 139px;
    height: 32px;
    float: right;
    background: #f9f9f9;
    border: 1px solid #E3E4E5;
    position: relative;
}
#my_shopping_cart i{
    margin-left: 55px;
    position: relative;
    left: -35px;
    top: 3px;
}

#my_shopping_cart span{
/*    width: 60px;
    height: 14px;*/
    color: #666;
    margin-left: -25px;
/*    position: absolute;
    left: -35px;
    top: 3px;*/
    display: inline-block;
}
#cart-img{
    width: 311px;
    height: 72px;
    position: absolute;
    right: 60px;
    top: -1px;
    display: none;
    /*z-index: 90;*/
}

#header-bottom{
    width: 970px;
    height: 20px;
    /*background: #f00;*/
    float: right;
    position: relative;
}
#h-b-left{
    float: left;
    width: 770px;
}
#h-b-left div:first-child{
    width: 550px;
    height: 20px;
    /*background: #0f0;*/
    margin-left:130px;
    margin-top: 5px;
}
#h-b-left div:first-child>a{
    display: inline-block;
    color: #999;
    margin-right: 8px;
}
#h-b-left div:first-child>a:first-child{
    /*color: #F10215;*/
}
/* #h-b-left div:last-child{
    width: 770px;
    height: 60px;
    background: #ff0;
    padding: 10px 0;
    margin-top: 15px;
}
#h-b-left div:last-child>a{
    display: inline-block;
    color: #333;
    padding: 0 13px;
    font-size: 14px;
} */
#h-b-left div:first-child>a:hover,#h-b-left div:last-child>a:hover{
    color: #c81623;
}
#h-b-right{
    width: 190px;
    height: 40px;
    /*line-height: 40px;*/
    float: right;
    /*background: #ff0;*/
    margin-top: 30px;
    /*margin-right: 10px;*/
    border-radius: 50px;
    border: none;
    /*background: radial-gradient(ellipse, #242BA7,#242380);*/

}
#h-b-right>a{
    background: url(../images/5af40cdcN89216f65.jpg) no-repeat;
    width: 190px;
    height: 40px;
    margin: 0 auto;
    line-height: 30px;

}
/*京东logo*/
#jd-logo-wrap{
    width:100%;
}
#jd-logo{
    width:190px;
    height: 170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    position: absolute;
    /*left: 80px;*/
    /*top: 0;*/
    background: url('../images/sprite.head.png') no-repeat ;
    /*background-position: 190px 170px;*/
    /*z-index: 999;*/
}

/*banner背景图*/
#banner-wrap{
    width: 100%;
}
#banner{
    height:110px;
    background: #fff;
    margin: 0 auto;
}

/*banner背景图2*/
#banner-wrap2{
    width: 100%;
    /*position: relative;*/
}
#banner2{
    width: 1900px;
    height:42px;
    position: relative;
    left: -285.5px;
    background: #fff;
    margin: 0 auto;
}

#photo-navigation-wrap{
    width: 100%;
    background: #f2f2f2;
}
#photo-navigation{
    height: 40px;
}
#photo-navigation div:first-child{
    width: 469px;
    height: 40px;
    line-height: 40px;
}
#photo-navigation div:first-child ul li{
    float: left;
    padding: 0 5px;
    color: #666;
}
#photo-navigation div:last-child{
    width: 451px;
    height: 40px;
    line-height: 40px;
}
#photo-navigation div:last-child ul li{
    float: left;
    color: #666;
    padding: 0 5px;
}


/*相机放大镜部分*/
#photo-magnifier-wrap{
    width: 100%;
    background: #fff;
}
#photo-magnifier{
    height: 583px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#photo-magnifier-left{
    width: 452px;
    height: 583px;
    /*background: #00f;*/
}
#photo-magnifier-right{
    width: 738px;
    height: 568px;
    background: #fff;
    /*position: relative;*/
}
#p-m-l-small{
    width:450px;
    height:450px;
    border:1px solid #eee;
    position: relative;
}
#p-m-l-small img{
    width:450px;
    height: 450px;
    /*position: relative;*/
}

#p-m-l-move{
    width:300px;
    height:300px;
    border:1px solid #FEEEA7;
    background:yellow;
    position:absolute;
    left:0px;
    top:0px;
    opacity:0.6;
    display:none;
}

#p-m-l-big{
    width:582px;
    height:582px;
    border:1px solid #eee;
    position:absolute;
    left:450px;
    top:-1px;
    overflow:hidden;
    display:none;
}
#p-m-l-big img{
    position:absolute;
    width: 900px;
    height: 900px;
}

#p-m-l-dian{
    width:450px;
    height:60px;
    /*border:1px solid green;*/
    /*position:absolute;
    left:0px;
    top:450px;*/
    padding: 20px 0;
}

#p-m-l-dian li img{
    width:58px;
    height:58px;
}

#p-m-l-dian li{
    float:left;
    margin-left:1.5px;
    width: 58px;
    height: 58px;
    padding: 0 2px;
}
#p-m-l-bottom{
    height: 30px;
    width: 452px;
    color: #666;
}
#p-m-l-l{

}
#p-m-l-r{

}

/*#p-m-r-table #td1-738,#p-m-r-table #td2-738{
    width: 738px;
}*/
/*#p-m-r-table .td-668{
    width: 668px;
}*/
/*#p-m-r-table .td-58{
    width: 58px;
}*/

#p-m-r-table td{
    width: 718px;
    padding-left: 20px;
}

#p-m-r-table .td1-43{
    height: 43px;
    line-height: 43px;
    color: #666;
    font: 700 16px Arial,"microsoft yahei";
}
#p-m-r-table .td2-23{
    height: 23px;
    line-height: 23px;
    color: #e4393c;
}
#p-m-r-table .td3-43{
    height: 43px;
    /*line-height: 48px;*/
    background:#f3f3f3;
    /*color: #999;*/
}
#p-m-r-table .td3-43>span:nth-of-type(1){
    color: #999;
    line-height: 43px;
    background:#f3f3f3;
}
#p-m-r-table .td3-43>span:nth-of-type(2){
    color: #E4393C;
    font-family: "microsoft yahei";
    margin-left: 24px;
    margin-right: 10px;
    line-height: 39px;
    background:#f3f3f3;
}
#p-m-r-table .td3-43>span:nth-of-type(2)>span:nth-of-type(1){
    font-size: 16px;
}
#p-m-r-table .td3-43>span:nth-of-type(2)>span:nth-of-type(2){
    font-size: 22px;
}
#p-m-r-table .td3-43>span:nth-of-type(3){
    color: #005aa0;
    line-height: 43px;
}
#p-m-r-table .td3-43>span:nth-of-type(4){
    /* width: 69px;
    height: 32px;
    line-height: 43px;
    display: block; */
    margin-right: 15px;
    margin-top:5px;
    position: relative;
}
#p-m-r-table .td3-43>span:nth-of-type(4)>div{
    border-left: 1px solid #e6e6e6;
    /*display: inline-block;*/
    width: 1px;
    height: 32px;
    /*display: right;*/
    position: absolute;
    left: -10px;
    top: 0;
}
#p-m-r-table .td3-43>span:nth-of-type(4)>a:nth-of-type(1){
    color: #999;
}
#p-m-r-table .td3-43>span:nth-of-type(4)>a:nth-of-type(2){
    font: 14px verdana;
    color: #005ea7;
    display: inline-block;
    margin-left:5px;
}

/*#p-m-r-table .td3-48>span:nth-of-type(4)>span{
    display: block;
}
#p-m-r-table .td3-48>span:nth-of-type(4)>span:nth-of-type(1){
    color: #999;
    width: 48px;
    height: 15px;
}
#p-m-r-table .td3-48>span:nth-of-type(4)>span:nth-of-type(2){
    font: 14px verdana;
    color: #005ea7;
    width: 38px;
    height: 17px;
} */

#p-m-r-table .td4-35{
    height: 35px;
    line-height: 35px;
}
#p-m-r-table .td4-35>span:nth-of-type(1){
    color: #999;
    line-height: 32px;
    margin-left: -1px;
}
#p-m-r-table .td4-35>span:nth-of-type(2){
    color: #5e69ad;
    line-height: 32px;
    margin-left: 50px;
}


#p-m-r-table .td5-24{
    height: 24x;
    line-height: 24px;
}
#p-m-r-table .td5-24>span:nth-of-type(1){
    color: #999;
    line-height: 24px;
}
#p-m-r-table .td5-24>span:nth-of-type(2){
    color: #999;
    line-height: 24px;
    margin-left: 26px;
}

#p-m-r-table .td6-35{
    height: 35px;
    line-height: 35px;
    margin-left: 26px;
}
#p-m-r-table .td6-35>span{
    color: #999;
    margin-left: 70px;
}
#p-m-r-table .td7-34{
    height: 34px;
    line-height: 34px;
}
#p-m-r-table .td7-34>span:nth-of-type(1){
    color: #999;
    /*line-height: 34px;*/
}
#p-m-r-table .td7-34>span:nth-of-type(2){
    color: #666;
    margin-left: 20px;
    /*line-height: 34px;*/

}
#p-m-r-table .td8-16{
    height: 0px;
    /*line-height: 0px;*/

}
#p-m-r-table .td8-16>div{
    border-bottom: 1px dotted #dfdfdf;
    width: 698px;
    height: 0px;
    margin-bottom: 10px;
}
#p-m-r-table .td9-51{
    height: 51px;
    line-height: 51px;
}
#p-m-r-table .td9-51>span:nth-of-type(1){
    color: #999;
    /*margin-left: 20px;*/
}
#p-m-r-table .td9-51>span:nth-of-type(2),
#p-m-r-table .td9-51>span:nth-of-type(3){
    color: #666;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #ccc;
    display: inline-block;
    background: #F7F7F7;
    text-align: center;
/*    vertical-align: middle;*/
}
#p-m-r-table .td9-51>span:nth-of-type(2)>img,
#p-m-r-table .td9-51>span:nth-of-type(3)>img{
    vertical-align: middle;
    /*display: inline-block;*/
}
#p-m-r-table .td9-51>span:nth-of-type(2){
    margin-left: 20px;
}
#p-m-r-table .td9-51>span:nth-of-type(3){
    /*color: #666;*/
}
#p-m-r-table .td10-41{
    height: 41px;
    line-height: 41px;
}
#p-m-r-table .td10-41>span:nth-of-type(1){
    color: #999;
}
#p-m-r-table .td10-41>span:nth-of-type(2){
    color: #666;
    width: 45px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 13px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    margin-left: 20px;
}
#p-m-r-table .td10-41>span:nth-of-type(3),
#p-m-r-table .td10-41>span:nth-of-type(4){
    color: #666;
    width: 27px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 13px;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}
#p-m-r-table .td10-41>span:nth-of-type(3){
    /*color: #999;*/
}
#p-m-r-table .td10-41>span:nth-of-type(4){
    /*color: #999;*/
}
#p-m-r-table .td11-39{
    height: 39px;
    line-height: 39px;
}
#p-m-r-table .td11-39>span:nth-of-type(1){
    color: #999;
}
#p-m-r-table .td11-39>span:nth-of-type(2)
{
    padding: 4px 5px 4px 6px;
    width: 116px;
    height: 20px;
    color: #666;
    line-height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    margin-left: 20px;
}
#p-m-r-table .td11-39>span:nth-of-type(3),
#p-m-r-table .td11-39>span:nth-of-type(4){
    padding: 4px 5px 4px 6px;
    width: 128px;
    height: 20px;
    color: #666;
    line-height: 20px;
    border: 1px solid #ccc;
    display: inline-block;
}

#p-m-r-table .td12-42{
    height: 42px;
    line-height: 42px;
}
#p-m-r-table .td12-42>span:nth-of-type(1){
    color: #999;
}
#p-m-r-table .td12-42>span:nth-of-type(2){
    width: 36px;
    height: 32px;
    color: #666;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 13px;
    display: inline-block;
    white-space: nowrap;
    margin-left: 20px;
}
#p-m-r-table .td12-42>span:nth-of-type(3),
#p-m-r-table .td12-42>span:nth-of-type(4),
#p-m-r-table .td12-42>span:nth-of-type(5),
#p-m-r-table .td12-42>span:nth-of-type(6){
    width: 98px;
    height: 32px;
    color: #666;
    line-height: 32px;
    border: 1px solid #ccc;
    padding: 0 13px;
    display: inline-block;
    white-space: nowrap;
    /*margin-left: 20px;*/
}
#p-m-r-table .td13-46{
    height: 46px;
    line-height: 46px;
}
#p-m-r-table .td13-46>button{
    height: 46px;
    line-height: 46px;
    padding: 0 26px;
    font-size: 18px;
    font-family: "microsoft yahei";
    font-weight: 700;
    background-color: #df3033;
    color: #fff;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: none;
}

#p-m-r-table .td14-23{
    height: 23px;
    line-height: 23px;
}
#p-m-r-table .td14-23>span{
    color: #666;
}
#p-m-r-table .td14-23>span:nth-of-type(2){
    margin-left: 20px;
}



/*人气配件*/
#rqpj-wrap{
    width: 100%;
}
#rqpj-wrap-top{
    background-color: #f7f7f7;
    border: 1px solid #eee;
    border-bottom: 1px solid #e4393c;
    /*display: inline-block;*/
    display: block;
    height: 37px;
}
#rqpj-wrap-top ul li{
    float: left;
    padding: 10px 25px;
    color: #666;
    cursor: pointer;
    font-size: 14px;
}
#rqpj-wrap-top ul li:first-child{
    background-color: #e4393c;
    color: #fff;
    cursor: default;
    padding: 8px 25px;
}
#rqpj-wrap-bottom{
    height: 187px;
    padding: 20px 0 10px;
    /*background-color: #e4393c;*/
    background: url(../images/2018-05-20_013825.jpg) no-repeat;
}
#rqpj-wrap-bottom div{
    float: left;
}
#rqpj-wrap-bottom>div:nth-of-type(1){
    width: 134px;
    height: 161px;
    padding: 0 5px;
    /*background-color: #ff0;*/
}
#rqpj-wrap-bottom>div:nth-of-type(2){
    width: 840px;
    height: 187px;
    /*background-color: #0f0;*/
}
#rqpj-wrap-bottom>div:nth-of-type(3){
    width: 200px;
    height: 187px;
    /*background-color: #f0f;*/
}


/*商品介绍*/
#spjs-wrap{
    width: 100%;
}
#spjs{
    width: 1212px;
    height: 19014px;
    background: url(../images/2018-05-20_015656.jpg);
    margin: 0 auto;
}
/*#spjs-left{
    width: 210px;
    height: 4351px;
    background: #ffe;
}
#spjs-right{
    width: 990px;
    height: 8000px;
    background: #00f;
    margin-left: 10px;
}*/













/*底部*/
#footer{
    height:539px;
}
.f-t-wrap{
    width: 100%;
    border-bottom: 1px solid #DEDEDE;
    background: #F0F3EF;
}
#f-t{
    padding: 30px 0;
    margin-top: 70px;
}
.mod_service_list {
    /*overflow: hidden;*/
    height: 42px;
}
.mod_service_item {
    float: left;
    width: 297px;
}
.mod_service_unit {
    position: relative;
    margin: 0 auto;
    padding-left: 45px;
    width: 180px;
}
.mod_service_duo {
    background-repeat: no-repeat;
    background-position: 0 -192px;
    background-image: url(../images/sprite.footer.png);
}
.mod_service_kuai {
    background-repeat: no-repeat;
    background-position: -41px -192px;
    background-image: url(../images/sprite.footer.png);
}
.mod_service_hao {
    background-repeat: no-repeat;
    background-position: -82px -192px;
    background-image: url(../images/sprite.footer.png);
}
.mod_service_sheng {
    background-repeat: no-repeat;
    background-position: -123px -192px;
    background-image: url(../images/sprite.footer.png);
}
.mod_service_tit {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    text-indent: -999px;
}
#f-t ul li p{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
#f-m-wrap{
    width: 1349px;
    color: #666666;
}
#f-m{
    padding: 20px 0;
    height: 160px;
    border-bottom: 1px solid #DEDEDE;
}
.mod_help_nav {
    float: left;
    width: 198px;
    line-height: 22px;
}
.mod_help_nav_tit{
    margin-bottom: 5px;
    font-size: 14px;
}
.mod_help_cover {
    background-repeat: no-repeat;
    background-position: 0 0;
    float: right;
    width: 200px;
    height: 150px;
    background-image: url(../images/sprite.footer.png);
}
.mod_help_cover_tit {
    margin-bottom: 15px;
    font-size: 14px;
    text-align: center;
}
.mod_help_cover_con {
    padding: 0 10px;
}
.mod_help_cover_more {
    text-align: right;
}
#f-b-wrap{
    width: 1346px;
    height: 266px;
}

.mod_copyright_inner {
    padding: 15px 0;
    /*border-top: 1px solid #e1e1e1;*/
    text-align: center;
}
#f-b>p>span{
    color: #ccc;
}
#f-b>p>a{
    padding: 0 6px;
    color: #666;
}

.mod_copyright_info {
    padding: 10px 0;
    line-height: 22px;
    color: #999;
}
.mod_copyright_cert p a,.mod_copyright_cert p span{
    padding: 0 5px;
}
.mod_copyright_auth {
    margin: 25px 0;
}

.mod_copyright_auth_ico_1 {
    background-repeat: no-repeat;
    background-position: -205px -148px;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico_2 {
    background-repeat: no-repeat;
    background-position: -205px -111px;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico_3 {
    background-repeat: no-repeat;
    background-position: -205px -74px;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico_4 {
    background-repeat: no-repeat;
    background-position: -205px -37px;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico_5 {
    background-repeat: no-repeat;
    background-position: -205px 0;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico_6 {
    background-repeat: no-repeat;
    background-position: 5px -155px;
    background-image: url(../images/sprite.footer.png);
}
.mod_copyright_auth_ico {
    overflow: hidden;
    display: inline-block;
    margin: 0 3px;
    width: 103px;
    height: 32px;
    line-height: 1000px;
}
